<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="#">Medium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-target="#menu"="">Profile</a>
            <ul class="dropdown-menu me-5" id="menu">
                <li> <a href="/blog/myblogs" class="dropdown-item"> Profile </a> </li>
                <li> <a href="/auth/logout" class="dropdown-item bg-danger-subtle text-danger"> Logout </a> </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blogs</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>