<%- include("partials/head")%>

<a href="/blog" class="btn border border-dark mt-3 ms-3">back</a>
    <h1 class="text-center my-4">Add New Blog</h1>

    
    <form method="post" class="container w-50">

        <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="floatingInput" placeholder="" >
            <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating">
            <input type="text" name="desc" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Description</label>
        </div>
        <select class="form-select my-3" aria-label="Default select example" name="category">
            <option selected>Open this select category</option>
            <option value="Technology">Tech</option>
            <option value="Fashion">Fashion</option>
            <option value="Health">Health & care</option>
            <option value="Finance">Finance</option>
        </select>

        <button class="btn btn-dark mt-2">Post</button>

    </form>
    
    
    <%- include("partials/body")%>