<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

    <h1>BLOGS</h1>
    <div class="w-50 mx-auto d-flex my-4 align-items-center">
        <h2>write your own blog today.</h2>
        <a href="add-new-blog" class="text-dark ">Add new blog</a>
    </div>


    <div class="container">

        <% for(let i of blog){ %>
            <div class="card">
                <div class="card-body"   >
                    <h3><%= i.title %></h3>
                    <p><%= i.description %></p>
                    <span class="badge bg-info-subtle text-dark"><%= i.category %></span>
                </div>
            </div>
            <% } %>
            
    </div>
</body>
</html>